<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href={% static 'errorstyl.css' %}>
</head>
<body>
        <img   src="{% static '404_error.png' %}" alt="Error! Image" height="400px" width="400px">
        <div class="wrapper">
        <p class="message">Oops!! Login denied Something went Wrong Check your Username or Password</p>
        <a href="/login" class="btn">Click Here to Login Again</a>
        <p class="copyRights">&copy; 2022 COURSE MANAGEMENT SYSTEM</p>
        </div>
</body>
</html>