<html lang="en">
<head>
  {% load static%}
  <title>All Courses Details</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>


<body style="background-image:url('{% static 'bookbg2.jpg' %}');   background-size: cover;">



  <center style="  color:black;   background-color:#ffffffdb;   border-radius: 10px;  margin: 2rem 55px 63px 39px; 
  text-align: center; padding:0.2rem 0 0.2rem 0; weight:bold; font-size:3rem" >

        <h1>Courses Details</h1>

            </center>


<div class="container">
<table class="table table-striped" >
    <thead>
      <tr style="background-color:#ffffffa8; color: black; align-items:center; font-weight:bold">
        <th>Course ID</th>
		<th>Course Name</th>
		<th>Stream Name</th>
      </tr>
    </thead>
    <tbody>
	{% for dt in CD %}  
      <tr style="background-color:#1c2529bd; color:white; border-radius: 10px;  ">
        <td>{{dt.c_id}}</td>
		<td>{{dt.c_name}}</td>
		<td>{{dt.s_name}}</td>
      </tr>
	  {% endfor %} 
	</tbody>
</table>	
</div>
</body>
</html>